html {
  --theme: #2eb2db !important;
  --hover: #4fc4e7 !important;
  --info: #8d8d8d !important;
  --link: #2385a4 !important;
  --link-hover: #3094b3 !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.button {
  background-color: var(--theme);
}

h1 {
  font-size: 180%;
  margin-bottom: 20px;
}

h2 {
  font-size: 155%;
}

h3 {
  font-size: 130%;
  margin-top: 25px;
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 100%;
}

blockquote p {
  padding: 0;
  font-size: 1rem !important;
}

.highlight pre {
  padding: 1rem 0;
}

/* Adjust content grid */
.main > .grid-auto {
  grid-template-columns: 2fr 6fr;
}

#docs-posts > h3 {
  margin-top: 20px;
}

/* Adjust post next/prev button */
.pager_link {
  font-size: 16px;
}

.pager_label {
  max-width: 80%;
  width: 80%;
}

.pager_link::after,
.pager_link::before {
  width: 15px;
  height: 12px;
  background-size: unset;
}

.grid-auto {
  width: 100%;
}

@media screen and (max-width: 991px) {
  /* Fix sidebar and content styles */
  .nav {
    padding: 1.2rem 0.4rem 1.2rem 1.2rem !important;
  }

  html[data-mode="dark"] .nav.show .nav_body {
    background: var(--accent);
  }

  .nav_repo {
    justify-content: flex-start;
    padding: 0 0.5rem;
  }

  .nav_repo img {
    margin: 0;
  }

  /* Adjust content grid */
  .content {
    margin-top: -3rem;
    width: 100%;
  }

  .main > .grid-auto {
    grid-template-columns: unset;
  }

  /* Adjust grid and aside */
  .main > .grid-auto > .aside {
    display: none;
  }

  .main > .grid-auto > .content {
    margin-top: -1rem;
  }
}
