html {
  --theme: #2eb2db !important;
  --hover: #4fc4e7 !important;
  --info: #8d8d8d !important;
  --link: #2385a4 !important;
  --link-hover: #3094b3 !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}

.wrap {
  max-width: 85%;
}

@media screen and (max-width: 1199px) {
  .wrap {
    max-width: 90%;
  }
}

.button {
  background-color: var(--theme);
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 155%;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 100%;
}

h2, h3, h4, h5 {
  margin: 20px 0 10px;
}

p > img {
  max-width: 80%;
}

blockquote p {
  padding: 0;
  font-size: 1rem !important;
}

.highlight_wrap {
  margin: 1rem auto 1.5rem;
}

.highlight pre {
  padding: 1rem 0;
}

.color_choice::after,
.color_mode .color_icon {
  cursor: pointer;
}

code {
  display: inline-block;
  vertical-align: middle;
}

/* Adjust content grid */
.main > .grid-auto {
  grid-template-columns: 2fr 8fr;
}

.main > .grid-auto > .aside {
  padding: 0;
  margin-top: 0.5rem;
  top: 0;
}

.main > .grid-auto > .aside h2 {
  margin-top: 0;
}

#docs-posts > h3 {
  margin: 15px 0 0;
}

/* Adjust post next/prev button */
.pager_link {
  font-size: 16px;
}

.pager_label {
  max-width: 80%;
  width: 80%;
}

.pager_link::after,
.pager_link::before {
  width: 15px;
  height: 12px;
  background-size: unset;
}

.main a:not(.button) {
 color: var(--theme);
}

.main a:not(.button):hover {
  color: var(--hover);
}

.nav_brand > span {
  font-size: 155%;
  position: relative;
  font-style: italic;
}

.nav_brand > span:before {
  content: "";
  width: 102%;
  height: 10px;
  background-color: var(--theme);
  position: absolute;
  bottom: -3px;
  right: -15px;
  transform: skew(-15deg);
  opacity: .7;
}

@media screen and (max-width: 991px) {
  .wrap {
    max-width: 100%;
    padding-top: 5rem;
  }

  footer > .wrap {
    padding-top: 0;
  }

  /* Fix sidebar and content styles */
  .nav {
    padding: 1.2rem 0.4rem 1.2rem 1.2rem !important;
  }

  .nav_body {
    width: 260px;
    height: 100%;
  }

  .nav-item {
    display: block;
    margin: 0 1rem;
  }

  .nav-item:last-child {
    margin: 1rem 0 0.5rem;
  }

  html[data-mode="dark"] .nav.show .nav_body {
    background: var(--accent);
  }

  .nav_repo {
    justify-content: flex-start;
    margin: 0.5rem 1.5rem 0;
  }

  .nav_repo img {
    margin: 0;
  }

  /* Adjust content grid */
  .content {
    width: 100%;
    max-width: 100%;
  }

  p > img {
    max-width: 100%;
  }
}
