.grid-auto,
.highlight_wrap,
.highlight,
.highlight pre {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.main > .grid-auto {
  grid-template-columns: none;
}

@media screen and (max-width: 991px) {
  /* Adjust grid and aside */
  .main > .grid-auto > .aside {
    display: none;
  }
}
